@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 990px) {
    .rightside {
        display: none;
    }
}

@media (max-width: 630px) {
    .navbar {
        width: 4.5rem;
    }

    .navbar h1 {
        display: none;
    }

    .btn {
        font-size: 0.6rem;
        padding: 0.5rem;
    }

    .list {
        display: none;
    }

    .prof {
        display: none;
    }
}