@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 850px) {
    .rightside {
        display: none;
    }
}

@media (max-width: 550px) {
    .navbar {
        width: 4.5rem;
    }

    .navbar h1 {
        display: none;
    }
}